/* ------------------ whole body ----------------- */

body {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}
.row {
    justify-content: center!important;
}
/* .col-md-8 {
    max-width: 60%!important;
    margin: 10px!important;
}
.col-md-4 {
    max-width: 40%!important;
    margin: 10px!important;
}
.col-md-6 {
    max-width: 50%!important;
    margin: 10px!important;
} */
/* ------------------ header ----------------- */

.logo-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
}

.logo-image {
    height: auto;
    width: auto;
    max-width: 130px;
    max-height: 110px;
}

.header-bar {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 0px;
    height: 2px;
    color: linen;
    background-color: linen;
}

svg{
    background-color: #f37168;
    border-radius: 300px;
    height: 100px;
    width: 100px;
    
}
path {
    stroke-dasharray: 900;
    animation: draw 2s;
    }

    @keyframes draw {
    from {
        stroke-dashoffset: -900;
    }
    to {
        stroke-dashoffset: 0;
    }
}
.animate-logo {
   display: flex;
   align-items: center;
}
/* -------------------------- jumbotron ------------------------------ */

.jumbotron {
    height: 350px;
    padding-top: 40px !important;
    background: url(../images/light-bokeh-texture-wallpaper-2.jpg) no-repeat center center fixed;
    background-size: cover;
    border-style: none;
    border-radius: 0px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1, .lead, .p {
    color: white;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 1);
    text-align: left;
}

.headline {
    width: 50%;
    padding-left: 50px;
}

.headline-mobile {
    display: none;
}
.display-4 {
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    font-size: 7.5vw!important;
    padding: 0px;
    margin: 0px;
    line-height: .9!important;
}

.lead, .p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
}

.my-4 {
    color: white;
    background-color: #fff;
    box-shadow: 0px 0px 5px #00000000;
    width: 70%;
}

/* ---------------------------------- dropdown button ------------------------------- */

.dropright {
    display: flex;
    justify-content: center;
}

.mood-list {
    width: 50%;
}

.btn {
    /* border: 2px solid #1b3a47 !important;
    color: #1b3a47 !important; */
    border: none!important;
    min-width: 50% !important;
    background: linear-gradient(#ff772d, #f5905a);
    box-shadow: 0px 0px 5px #00000000;
}

.dropdown-menu {
    background: linear-gradient(#502049, #b61084);
}

.dropdown-menu a {
    font-size: 17px;
    border: none!important;
    color: #ffffff;
}
.dropdown-menu a:hover {
    color: #ff772d!important;
}

/* -------------------------------------- spotify div --------------------------------- */
#player {
    box-shadow: 0px 1px 20px #ffffff;
}
.contentDiv {
    /* background: url(../images/pink_gradient.jpg) no-repeat center; */
    background-size: cover;
    background-color: rgb(138, 102, 138);
    min-height: 250px;
    text-align: center;
    border: 10px solid #fff;
}

.contentDiv h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
    color: white;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, .5);
    font-size: 40px;
    padding-top: 20px;
}

/* ----------------------------------------- weather div ---------------------------------- */
#openweathermap-widget-15 {
    box-shadow: 0px 1px 20px #ffffff;
    margin-top: 15px;
}

.widget-right__title {
    font-size: 40px !important;
}

.widget-right__header--brown {
    background-image: linear-gradient(to top left, rgb(216, 197, 92), white) !important;
}

.weather-right--brown {
    background-image: linear-gradient(to top right, white, rgb(216, 197, 92)) !important;
}

.weather-right__layout {
    background-image: linear-gradient(to bottom, white), rgb(216, 204, 145) !important;
}




.weatherDiv h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
    color: white;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, .5);
    font-size: 40px;
    padding-top: 20px;
    text-align: center;
}

.weather-info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}


/* ----------------------------------------- quote and horoscope divs ---------------------------------- */

/* .quoteDiv {
    /* background: url(../images/blue_gradient.jpg) no-repeat center center;
    background-size: cover; */
    /* border: none;
    min-height: 250px;
    padding: 15px;
} */ */

.quoteDiv h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
    color: white;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, .5);
    font-size: 40px;
    text-align: center;
}

/* .quoteText h1 {
    text-align: center;
} */

.quoteAuthor h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
    color: white;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, .5);
    text-align: center;
    font-size: 20px;
}

.quoteText h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
    color: white;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, .9);
    text-align: center;
    font-size: 29px;
}

.quoteAll {
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.gif img {
    margin-top: 10px;
    box-shadow: 0px 1px 20px #ffffff;
}

.gifDiv {
    /* background: url(../images/pink_gradient.jpg) no-repeat center center; */
    background-size: cover;
    min-height: 250px;
    border: none;
}

.gifDiv h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
    color: white;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, .5);
    font-size: 40px;
    padding-top: 20px;
    text-align: center;
}

.gifDiv p {
    font-family: 'Roboto', safpns-serif;
    font-weight: 400 !important;
    color: white;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, .5);
}

.gifDiv .gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ----------------------------------------- youtube div ---------------------------------- */

/* .youtubeDiv {
    background: url(../images/blue_gradient.jpg) no-repeat center;
    background-size: cover;
    border: none;
    min-height: 250px;
}  */

.youtubeDiv h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
    color: white;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, .5);
    font-size: 40px;
    padding-top: 20px;
    text-align: center;
}

/* ----------------------------------------- Chart Div ---------------------------------- */

.chart-container {
    margin: 0 auto;
    padding-bottom: 20px;
    min-width: 30vw;
    min-height: 20vh;
}

#myChart {
    padding-bottom: 20px;
    min-width: 30vw!important;
    min-height: 20vh!important;
}



/* ----------------------------------------- media queries ---------------------------------- */

@media only screen and (max-width: 400px) {
    #current-content {
        margin: 25px;
    }

}


@media only screen and (max-width: 728px) {
    .row {
        margin-left: 0px!important;
        margin-right: 0px!important;
    }

    .jumbotron {
        display: inline-block!important;
        width: 100%!important;
        margin: 0 auto;
        height: auto;
    }
  
    .mobile {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
    }
    .headline-mobile {
        display: inline-block;
        text-align: center;
        font-family: 'Rubik', sans-serif;
        font-weight: 700;
        font-size: 40px!important;
        margin: 0 auto;
    }

    .display-4 {
        display: none;
    }


    .contentDiv {
        width: 100%;
    }

    .mood-list {
        margin: 0 auto;
    }

}

