/* ------------------ whole body ----------------- */

#current-content {
    margin: 40px;
}

/* body {
    background: url(../images/prism.png);
} */

/* ------------------ header ----------------- */

.logo-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
}

.logo-image {
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 110px;
}

.header-bar {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 0px;
    height: 2px;
    color: linen;
    background-color: linen;
}

/* -------------------------- jumbotron ------------------------------ */

.jumbotron {
    height: 270px;
    padding-top: 40px !important;
    /* background-color: rgb(171, 210, 233) !important; */
    background: url(../images/light-bokeh-texture-wallpaper-2.jpg) no-repeat center center fixed;
    background-size: cover;
    border-style: none;
    border-radius: 0px !important;
}

h1, .lead, .p {
    color: white;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 1);
    text-align: center;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
}

.lead, .p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
}

.my-4 {
    color: white;
    background-color: #fff;
    box-shadow: 0px 0px 5px #00000000;
    width: 70%;
}

/* ---------------------------------- dropdown button ------------------------------- */

.dropright {
    display: flex;
    justify-content: center;
}

.btn {
    /* color: rgba(35, 75, 112, 0.795) !important; */
    /* background-color: rgba(209, 208, 208, 0.979) !important; */
    border: 2px solid #1b3a47 !important;
    color: #1b3a47 !important;
    min-width: 40% !important;
    background: linear-gradient(#fff, #efe8df);
}

.dropdown-menu a {
    font-size: 17px;
}

/* -------------------------------------- spotify div --------------------------------- */

.spotifyDiv {
    background: url(../images/pink_gradient.jpg) no-repeat center;
    background-size: cover;
    background-color: rgb(138, 102, 138);
    /* border-style: solid; */
    min-height: 250px;
    opacity: .7;
    text-align: center;
}

.spotifyDiv h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
    color: white;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, .5);
    font-size: 40px;
    padding-top: 20px;

}

/* ----------------------------------------- weather div ---------------------------------- */

.weatherDiv {
    background: url(../images/blue_gradient.jpg) no-repeat center;
    background-size: cover;
    /* height: 250px; */
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.weatherDiv h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
    color: white;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, .5);
    font-size: 40px;
    padding-top: 20px;
    text-align: center;
}

.weather-info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.weather-info h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
    color: white;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, .5);
    font-size: 80px;
}

.weatherDiv p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
    color: white;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, .5);
}

.facts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.fas {
    height: 100px;
}

#sunset {
    font-weight: bold;
    color: rgb(209, 197, 184);
}

#humidity {
    font-weight: bold;
    color: rgb(209, 197, 184);
}

/* ----------------------------------------- quote and horoscope divs ---------------------------------- */

.quoteDiv {
    background: url(../images/blue_gradient.jpg) no-repeat center center;
    background-size: cover;
    border: none;
    min-height: 250px;
    padding: 15px;
}

.quoteDiv h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
    color: white;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, .5);
    font-size: 40px;
    text-align: center;
}

.quoteAuthor h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
    color: white;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, .5);
    text-align: center;
    font-size: 20px;
}

.quoteDiv p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
    color: white;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, .5);
    text-align: center;
    font-size: 24px;
}

.gifDiv {
    background: url(../images/pink_gradient.jpg) no-repeat center center;
    background-size: cover;
    min-height: 250px;
    border: none;
}

.gifDiv h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
    color: white;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, .5);
    font-size: 40px;
    padding-top: 20px;
    text-align: center;
}

.gifDiv p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
    color: white;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, .5);
}

.gifDiv .gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ----------------------------------------- media queries ---------------------------------- */

@media only screen and (max-width: 400px) {
    #current-content {
        margin: 25px;
    }
}